body{
    background-color: rgba(8, 87, 152, 0.912);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.calculadora{
    width: 400px;
    background-color: white
}

.display{
    font-size: 2em;
    width: 98%;
    text-align: right;
}

.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}

.btn:hover{
    background-color: #bfbdbddd;
}

.btn-eq{
    background-color: royalblue;
}